
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

/* Color variables */
:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --min-color: #59B2F4;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 100px 9% 100px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 30px;
}
.home-container h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 3.2rem;
    font-weight: 700;
}

.home-container h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--min-color);
}

.home-container h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 1.3;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    top: 3rem;
    width: 34vw;
    box-shadow: 0 0 25px var(--min-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    animation: floatImage 2s ease-in-out infinite;
    border-radius: 50%;
}
.home-img img:hover {
    box-shadow: 0 0 25px var(--min-color),
    0 0 50px var(--min-color),
    0 0 100px var(--min-color)
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px); 
    }
    100% {
        transform: translateY(0);
    }
}

.home-container p {
    font-size: 16px;
    font-weight: 500;
    max-width: 1000px;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    background: transparent;
    border: 2px solid var(--min-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--min-color);
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--min-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 25px var(--min-color);
    transform: scale(1.3)translateY(-5px);
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: var(--min-color);
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 0 0 25px var(--min-color);
    font-size: 16px;
    color: var(--snd-bg-color);
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--min-color);
}
.project-container-info {
    background: linear-gradient(343.07deg, rgba(132, 59, 206, 0.06) 5.71%, rgba(132, 59, 206, 0) 64.83%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 98%, 0% 100%);
  }
  
  .project-container {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 10px 0px 100px;
    gap: 12px;
  }
  .project-container h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 1.3;
    text-align: center;
}
.project-container p {
    font-size: 16px;
    font-weight: 500;
    max-width: 1000px;
    text-align: center;

}
.project-img {
    width: 65%;
    height: 30%;
}
.project-info {
    display: flex;
    align-items: center;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  
   
}
.project {
    text-align: center;
    width: 330px;
    height: 600px;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--min-color);
  padding: 26px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  overflow: hidden;
  }
.project h3 {
    font-size: 24px;
    text-align: center;
  margin-top: 2rem;
}
.project p {
    padding: 0.4rem;
    margin: 1rem;
  }